header{
  width: 1200px;
  font-family: 'Noto Sans KR', sans-serif;
}
h1{
    
}
header .wrap h1 a{
  font-size: 0;
  background-image: url(../img/lsy-logo.png);  
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 100px;
}
.gnb{
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.portfolio{
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size:100px;
  width: 60px;  
  position: relative;
  position: absolute;
  font-weight: bold;
  left: 130px;
  top: 50px;
}
.jump1{  
  position: absolute;
  top: 30px;
  left: 250px;
  color: yellow;
}
.jump2{  
  position: absolute;
  left: 365px;
  top: 150px;
}
.jump3{  
  position: absolute;
  left: 149px;
  top: 200px;
}
.jump4{
  position: absolute;
  left: 333px;
  top: 290px;
}
.jump5{
  position: absolute;
  left: 145px;
  top: 360px;
  color: yellow;
}
.jump6{
  position: absolute;
  left: 264px;
  top: 440px;
}
.jump7{
  position: absolute;
  left: 171px;
  top: 529px;
}
.jump8{
  position: absolute;
  left: 380px;
  top: 622px;
}
.jump9{
  position: absolute;
  left: 240px;
  top: 726px;
}